div.main {
  width: 250px;
  border: solid 1px black;
  padding: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.button {
  background-color: #dcdcdc;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
  border: 1px solid #dcdcdc;
  cursor: pointer;
}

#output {
  grid-column: 1 / span 4;
  text-align: right;
  padding: 5px;
  border: 1px solid white;
  margin-bottom: 5px;
}
